<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @profile.bio %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @profile.avatar %>
</p>

<p>
  <strong>Email:</strong>
  <%= @profile.user.email %>
</p>

<% if user_signed_in? %>
<% if !current_user.business.present? %>
 <%= link_to 'New Business', new_business_path(@business), class: 'btn btn-danger' %> |
 <% else %>
 <%= link_to 'Edit Business', edit_business_path(@business), class: 'btn btn-warning' %> |
<% end %>
<% end %>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
