<h2>Edit <%= resource_name.to_s.humanize %></h2>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

    <div class="form-inputs col-xs-12 col-md-4 col-md-push-4">
        <%= f.input :email, label: false, required: true, autofocus: true, :input_html => {:rows => 10}%>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :password, autocomplete: "off", label: false, placeholder: "Enter password - leave blank if not changing", required: false %>
        <%= f.input :password_confirmation, label: false, placeholder: "Confirm password", required: false %>
        <%= f.input :current_password, label: false, placeholder: "Enter password - We need your current password", required: true %>

    <div class="form-actions">
        <%= f.button :submit, "Update", class: 'btn-danger' %>
    </div>

    <div class="devise-css">
      <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
      <%= link_to "Back", :back %>
    </div>

<% end %>
